<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smsgpstracker"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ===== PERMESSI SMS ===== -->
    <!-- Foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- SMS -->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!-- Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>






    <!-- Hardware telephony -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmsGpsTracker"
        tools:targetApi="33">

        <!-- ===== GOOGLE MAPS ===== -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC3bvvXeEHuQIoTb5d0AT8zh4zw7dAPfX4" />

        <!-- ===== FOREGROUND SERVICE TX ===== -->
        <service
            android:name=".TxForegroundService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <service
            android:name=".RxForegroundService"
            android:exported="false"
            android:foregroundServiceType="location"/>

        <service
            android:name=".RxExportForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>

        <!-- ===== MAIN ===== -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ===== TX ===== -->
        <activity
            android:name=".TxActivity"
            android:exported="false" />

        <!-- ===== RX ===== -->


        <activity
            android:name=".RxActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>

        <!-- ===== SMS RECEIVER ===== -->
        <receiver
            android:name=".SmsReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>

        </receiver>

    </application>

</manifest>